
.task-header {
	padding: 0 1rem 0 1rem;
}

.task-header-actions {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.task-header-action a {
  display: block;
	padding: 0.3rem 0.3rem 0.3rem 0.3rem;
	background-color: #6db148;
	color: #FFFFFF;
	width: 80px;
	text-align: center;
}
.task-header-action:not(:last-child) {
	margin-right: 0.2rem;
}
.task-header-action.active a {
	/* background-color: #e8f3e2; */
	background-color: #40692b;
}
.task-header-action:not(.active) a:hover {
	background-color: #40692b;
}

.task-detail {
	display: flex;
	flex-direction: column;
	margin:0.5rem 1rem 0 1rem;
  border: 1px solid #6db148;
  box-shadow: 2px 2px 4px #6db148;
}

.task-detail-item {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem 2rem 1rem;
}

.task-detail-item-description {
  flex-basis: 10%;
  padding-right: 1.5rem;
  text-align: right;
}
.task-detail-item-content {
  flex-basis: 90%;
}
.task-title textarea {
  resize: none;
  width: 100%;
  height: 3rem;
}
.task-memo textarea {
  resize: vertical;
  width: 100%;
  height: 5rem;
}

.task-footer {
  margin-top: 0.5rem;
	padding: 0 1rem 0 1rem;
}

.task-footer-actions {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.task-footer-action a {
  display: block;
	padding: 0.3rem 0.3rem 0.3rem 0.3rem;
	background-color: #6db148;
	color: #FFFFFF;;
	width: 80px;
	text-align: center;
}
.task-footer-action:not(:last-child) {
	margin-right: 0.2rem;
}
.task-footer-action.active a {
	/* background-color: #e8f3e2; */
	background-color: #40692b;
}
.task-footer-action:not(.active) a:hover {
	background-color: #40692b;
}