.header-nav {
	background-color: #FFFFFF;
	color: #6db148;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 4px 4px 4px;
}

.header-nav ul {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0.3rem;
	list-style-type: none;
}

.header-nav a {
	display: block;
	border-radius: 0.4rem;
	padding: 0.6rem;
}

.header-nav a:hover {
	background-color: #6db148;
	color: #FFFFFF;
}