
.task-header {
	padding: 0 1rem 0 1rem;
}

.task-header-actions {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.task-header-action a {
	display: block;
	padding: 0.3rem 0.3rem 0.3rem 0.3rem;
	background-color: #6db148;
	color: #FFFFFF;
	cursor: pointer;
	width: 80px;
	text-align: center;
}
.task-header-action:not(:last-child) {
	margin-right: 0.2rem;
}
.task-header-action.active {
	/* background-color: #e8f3e2; */
	background-color: #40692b;
}
.task-header-action:not(.active):hover {
	background-color: #40692b;
}

.tasks {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 0 1rem;
	margin-top:0.5rem;
}

.task {
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	border: 1px solid #6db148;
	cursor: pointer;
	box-shadow: 2px 2px 4px #6db148;
}
.task:not(:first-child) {
	margin-top: 1rem;
}
.task:hover {
	background-color: #e8f3e2;
}

.task-upper {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	padding-bottom: 0.3rem;
	border-bottom: 1px dotted #6db148;
}
.task-complete {
	background-color: #6db148;
	color: #FFFFFF;
	padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.task-lower {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	padding-top: 0.3rem;
}
.task-complete:hover {
	background-color: #40692b;
}
.task-deadline-expired {
	color: red;
}

.task-actions {
	visibility: hidden;
	color: #6db148;
}
.task-actions .fas:hover {
	color: #40692b;
}
.task:hover .task-actions {
	visibility: visible;
}