body {
	background: #d9e3e8;	
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	color: #274a22;
}

a {
	text-decoration: none;
	color: inherit;
}

.right {
	margin-left: auto;
}

.main {
	background-color: #FFFFFF;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2rem;
	padding: 1rem 0 0.5rem 0;
}